/* MovieList.css */
.movie-list-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS devices */
}

.movie-list-container > div {
  flex: 0 0 auto;
  margin-right: 16px; /* Adjust as needed for spacing between MovieCards */
  scroll-snap-align: start;
}
/* MovieList.css */
.scroll-container {
  overflow: hidden;
  height: 100%; /* Adjust the height as needed */
}

.movie-list-container {
  display: flex;
}

/* Add any additional styling you need for MovieCard or adjust the existing styles */
